<div class="top-row pl-2 navbar navbar-dark">
    <a class="navbar-brand" href="">디모이 컴퓨터이해 기말고사</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> 안내
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="exam">
                <span class="oi oi-list-rich" aria-hidden="true"></span> 시험
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="result">
                <span class="oi oi-plus" aria-hidden="true"></span> 시험결과
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
